apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./infrastructure/base/ingress-nginx
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: ingress-nginx
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: ingress-nginx-controller
      namespace: ingress-nginx
