apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/podinfo
  - ingress.yaml
# Delete the base HTTPRoute since we use Ingress for staging
patches:
  - target:
      kind: HTTPRoute
      name: podinfo
    patch: |-
      $patch: delete
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: podinfo
