---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-adapter
  namespace: monitoring
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: prometheus-adapter
      version: ">=5.2.0 <6.0.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
      interval: 12h
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    force: true
    remediation:
      retries: 3
      remediateLastFailure: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  rollback:
    recreate: true
    cleanupOnFail: true
  values:
    prometheus:
      url: http://prometheus-prometheus.monitoring.svc
      port: 9090

    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 128Mi

    rules:
      default: false
      custom:
        - seriesQuery: '{__name__=~"^flower_.*",namespace!=""}'
          resources:
            overrides:
              namespace:
                resource: namespace
              service:
                resource: service
          name:
            matches: "^(.*)$"
            as: "${1}"
          metricsQuery: '<<.Series>>{<<.LabelMatchers>>}'
      external:
        - seriesQuery: 'flower_worker_number_of_currently_executing_tasks{namespace!=""}'
          resources:
            overrides:
              namespace:
                resource: namespace
          name:
            as: celery_active_tasks
          metricsQuery: 'sum by (namespace, provider) (flower_worker_number_of_currently_executing_tasks{<<.LabelMatchers>>,provider!=""})'
