apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rook-ceph

# Patch the existing deployments created by the rook-ceph Helm release
resources: []

patches:
  # Patch rbd provisioner to tolerate control-plane nodes
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: csi-rbdplugin-provisioner
      namespace: rook-ceph
    patch: |-
      - op: add
        path: /spec/template/spec/tolerations
        value:
          - key: node-role.kubernetes.io/master
            operator: Exists
            effect: NoSchedule
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
            effect: NoSchedule

  # Patch RBD plugin daemonset to run on all nodes including control-plane
  - target:
      group: apps
      version: v1
      kind: DaemonSet
      name: csi-rbdplugin
      namespace: rook-ceph
    patch: |-
      - op: add
        path: /spec/template/spec/tolerations
        value:
          - key: node-role.kubernetes.io/master
            operator: Exists
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
