apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Namespace
  - namespace.yaml

  # Helm sources
  - sources/

  # LGTM stack components
  - loki/
  - tempo/
  - prometheus/

  # Alloy for ingestion
  - alloy/

  # Network policies
  - network-policies/

  # Ingresses
  - ingresses/

  # Grafana dashboards
  # - dashboards/
